#page-donations-new {
    min-height: 100vh;
    padding: 2.4rem 3.6rem;
    background-color: var(--background);

    form {
        width: 100%;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0px 0px 100px 60px rgba(0, 0, 0, 0.25);
        animation-delay: 0.2s;
        padding: 3.6rem;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 6.4rem;

            span {
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    margin-bottom: .8rem;
                    font-size: 36px;
                    color: var(--title);
                }

                small {
                    width: 60%;
                    font-size: 14px;
                    text-align: center;
                    color: var(--text);
                }
            }
        }

        fieldset {
            display: flex;
            flex-direction: column;
            border: none;

            &:not(:last-child) {
                margin-bottom: 6.4rem;
            }

            legend {
                width: 100%;
                padding-bottom: .8rem;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-color: var(--border);
                font-size: 24px;
                font-weight: bold;
                color: var(--title);
            }

            .field {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 24px;

                label {
                    margin-bottom: 8px;
                    font-size: 14px;
                    color: var(--text);
                }

                textarea {
                    resize: vertical;
                }

                input,
                select,
                textarea {
                    padding: 1.65rem;
                    border: 1px solid var(--border-field);
                    border-color: #838383;
                    border-radius: 8px;
                    font: 1.6rem 'Archivo', 'Inter';
                    color: var(--black-text);
                }

                .stock-menu {
                    display: flex;
                    align-items: center;

                    .subtract,
                    .add {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 5.6rem;
                        width: 4.6rem;
                        border: none;
                        background-color: var(--primary);
                        cursor: pointer;
                        transition: background-color 0.2s ease-in-out;

                        &:hover {
                            background-color: var(--primary-mono-e);
                        }
                    }

                    .subtract {
                        border-radius: 8px 0 0 8px;
                    }

                    .add {
                        border-radius: 0 8px 8px 0;
                    }

                    input {
                        /* text-align: center; */

                        height: 5.6rem;
                        width: 15rem;
                        border: none;
                        border-radius: 0;
                        border-top: 1px solid var(--primary);
                        border-bottom: 1px solid var(--primary);
                        font-size: 24px;
                    }
                }
            }
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 228px;
                height: 56px;
                border: none;
                border-radius: 8px;
                font-size: 24px;

                /* font-weight: bold; */
                background-color: var(--primary);
                color: white;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out;

                &:hover {
                    background-color: var(--primary-mono-e);
                }
            }
        }
    }
}