#page-home {
    min-height: 100vh;

    background-color: var(--background);
}

#page-home header {
    display: flex;
    align-items: center;
    height: 15vh;

    padding: 0 130px;
    
    background-color: var(--primary-mono-b);
}

#page-home header img {
    height: 6.8rem;
}

#page-home main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-height: 85vh;
    width: 100vw;
    
    padding: 0 13rem;

    background: url('../assets/home-background.svg') no-repeat;
    background-position: 58vw center;
}

#page-home .quote {
    /* margin-top: 150px; */
    width: 39vw;

    padding-bottom: 9rem;
}

#page-home .quote h1 {
    padding-bottom: 1.6rem;
    
    color: var(--title);
    font-weight: bold;
    font-size: 60px;
}

#page-home .quote p {
    width: 35rem;

    color: var(--text);
    font-size: 32px;
}

#page-home .buttons {
    display: flex;
    align-items: center;
}

#page-home .buttons a {
    height: 62px;

    border-radius: 8px;

    text-decoration: none;

    transition: background-color 0.2s;
}

#page-home .buttons a span {
    color: var(--title);

    font-size: 24px;
    font-weight: bold;
}

#page-home .buttons .sign-up {
    margin-right: 32px;
    padding: 1.6rem 6.4rem;

    background-color: #E7EB46;
}

#page-home .buttons .sign-up:hover {
    background-color: #D3D81A;
}

#page-home .buttons .sign-in {
    display: flex;
    align-items: center;

    padding: 1.6rem 2rem;
}

#page-home .buttons .sign-in span {
    margin-right: 13px;

    transition: color 0.2s;
}

#page-home .buttons .sign-in svg {
    height: 32px;
}

#page-home .buttons .sign-in svg > path {
    transition: fill 0.2s;
}

#page-home .buttons .sign-in:hover span {
    color: var(--primary-mono-e);
}

#page-home .buttons .sign-in:hover svg > path {
    fill: var(--primary-mono-e);
}
