#page-orders-details {
    min-height: 100vh;

    padding: 2.4rem 3.6rem;

    background-color: var(--background);
}

#page-orders-details main {
    display: flex;
    align-items: flex-start;

    margin-top: 4.8rem;
}

#page-orders-details main .content {
    display: flex;
    flex-direction: column;

    width: 70vw;
    margin: 0 auto;

    border-radius: 8px;

    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    color: var(--black-text);
}

#page-orders-details main .content header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2.2rem 3rem;

    border-bottom: 1px solid var(--border);

    font-size: 24px;
}

#page-orders-details main .content header span {
    display: flex;
    align-items: center;
}

#page-orders-details main .content header span p {
    margin-right: 2.4rem;
}

#page-orders-details main .content header span small {
    text-transform: uppercase;
    font-size: 18px;
    color: #686868;
}

#page-orders-details main .content header .back {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-orders-details main .content .container {
    display: flex;
    flex-direction: column;

    padding: 3.6rem;
}

#page-orders-details main .content .container .wrapper {
    display: flex;
    align-items: center;

    height: 412px;
}

#page-orders-details main .content .image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 412px;

    border: 1px solid #757575;
    border-radius: 8px;
}

#page-orders-details main .content .image img {
    width: 100%;
    height: 100%;

    padding: 0.8rem;

    object-fit: contain;
    flex-shrink: 1;
}

/* Menu */

#page-orders-details main .content .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    flex: 1;
    height: 100%;
    margin-left: 5.6rem;
}

#page-orders-details main .content .menu .name {
    width: 100%;

    padding-bottom: 1rem;

    border-bottom: 1px solid var(--border);

    font-size: 36px;
    font-weight: bold;
    color: var(--black-text);
}

#page-orders-details main .content .menu .status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto 0;

    font-size: 24px;
    text-transform: capitalize;
}

#page-orders-details main .content .menu .status span {
    margin-bottom: 1.2rem;
}

#page-orders-details main .content .menu .status .pending,
#page-orders-details main .content .menu .status .delivered,
#page-orders-details main .content .menu .status .cancelled {
    font-weight: bold;
    /* color: var(--primary-mono-d); */
}

#page-orders-details main .content .menu .status .pending {
    color: var(--pending);
}

#page-orders-details main .content .menu .status .delivered {
    color: var(--delivered);
}

#page-orders-details main .content .menu .status .cancelled {
    color: var(--cancelled);
}

#page-orders-details main .content .menu .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

#page-orders-details main .content .menu .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 230px;
    height: 54px;

    border: none;
    border-radius: 8px;

    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

#page-orders-details main .content .menu .buttons span {
    letter-spacing: 0.025em;
}

#page-orders-details main .content .menu .buttons a.chat {
    background-color: var(--primary);
}

#page-orders-details main .content .menu .buttons a.chat span {
    margin-left: 1.4rem;
}

#page-orders-details main .content .menu .buttons a.chat:hover {
    /* background-color: #5a3fbd; */
    background-color: var(--primary-mono-e);
}

#page-orders-details main .content .menu .buttons a.whatsapp {
    background-color: #03CB0B;
}

#page-orders-details main .content .menu .buttons a.whatsapp span {
    margin-left: 1rem;
}

#page-orders-details main .content .menu .buttons a.whatsapp:hover {
    background-color: #24a728;
}




/* Table */

#page-orders-details main .content table {
    width: 100%;
    margin-top: 3.6rem;
    border-spacing: 0;
}

#page-orders-details main .content table thead {
    width: 100%;
    margin-bottom: 1.6rem;
    background-color: var(--primary-4);
}

#page-orders-details main .content table thead th,
#page-orders-details main .content table tbody td {
    width: 50%;
}

#page-orders-details main .content table thead th:first-child,
#page-orders-details main .content table tbody td:first-child {
    padding-left: 3.6rem;
}

#page-orders-details main .content table tbody td:last-child {
    padding-right: 6.8rem;
}

#page-orders-details main .content table thead th:first-child {
    padding-left: 3.6rem;
    border-radius: 8px 0 0 8px;
    text-align: left;
}

#page-orders-details main .content table thead th:last-child {
    border-radius: 0 8px 8px 0;
}

#page-orders-details main .content table thead th {
    padding: 0.8rem 0;
    
    font-size: 24px;
    font-weight: 400;
    color: white;
}

#page-orders-details main .content table tbody:before {
    content: "@";
    display: block;
    line-height: 16px;
    text-indent: -99999px;
    visibility: hidden;
}


/* Border radius */
#page-orders-details main .content table tbody tr:first-child td:first-child {
    border-radius: 8px 0 0 0;
}

#page-orders-details main .content table tbody tr:first-child td:last-child {
    border-radius: 0 8px 0 0;
}

#page-orders-details main .content table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 8px;
}

#page-orders-details main .content table tbody tr:last-child td:last-child {
    border-radius: 0 0 8px 0;
}
/* ------------ */


#page-orders-details main .content table tbody td {
    padding: 1.6rem 0;
    
    background-color: #E6E0FE;
}

#page-orders-details main .content table tbody td:first-child {
    font-size: 24px;
}

#page-orders-details main .content table tbody td:last-child {
    font-size: 18px;
    color: #675765;
}

#page-orders-details main .content table tbody tr:not(:last-child) td {
    border-bottom: 1px solid var(--border-purple);
}
