#page-donations-edit {
    min-height: 100vh;

    padding: 2.4rem 3.6rem;

    background-color: var(--background);
}

#page-donations-edit main {
    display: flex;
    align-items: flex-start;

    margin-top: 4.8rem;
}

#page-donations-edit main .content {
    display: flex;
    flex-direction: column;

    width: 70vw;
    margin: 0 auto;
    padding: 6.4rem 8.6rem;

    border-radius: 8px;

    background-color: var(--primary-mono-b);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    color: var(--black-text);
}


/* Form */
#page-donations-edit form {
    width: 100%;
    
    border-radius: 8px;

    background-color: #fff;
    box-shadow: 0px 0px 100px 60px rgba(0, 0, 0, 0.25);

    animation-delay: 0.2s;
}

#page-donations-edit form {
    padding: 3.6rem;   
}

#page-donations-edit form .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 6.4rem;
}

#page-donations-edit form .header span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-donations-edit form .header span h1 {
    margin-bottom: .8rem;

    font-size: 36px;
    color: var(--title);
}

#page-donations-edit form .header span small {
    width: 60%;

    font-size: 14px;
    text-align: center;
    color: var(--text);
}

#page-donations-edit form fieldset {
    display: flex;
    flex-direction: column;

    border: none;
}

#page-donations-edit form fieldset:not(:last-child) {
    margin-bottom: 6.4rem;
}

#page-donations-edit form fieldset legend {
    width: 100%;

    padding-bottom: .8rem;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--border);

    font-size: 24px;
    font-weight: bold;
    
    color: var(--title);
}

#page-donations-edit form fieldset .field {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-top: 24px;
}

#page-donations-edit form fieldset .field label {
    margin-bottom: 8px;

    font-size: 14px;
    
    color: var(--text);   
}

#page-donations-edit form fieldset .field textarea {
    resize: vertical;
}

#page-donations-edit form fieldset .field input,
#page-donations-edit form fieldset .field select,
#page-donations-edit form fieldset .field textarea {
    padding: 1.65rem;

    border: 1px solid var(--border-field);
    border-color: #838383;
    border-radius: 8px;

    font: 1.6rem 'Archivo', 'Inter';
    color: var(--black-text);
}

#page-donations-edit form .field .stock-menu {
    display: flex;
    align-items: center;
}

#page-donations-edit form .field .stock-menu .subtract,
#page-donations-edit form .field .stock-menu .add {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5.6rem;
    width: 4.6rem;

    border: none;
    background-color: var(--primary);

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

#page-donations-edit form .field .stock-menu .subtract:hover,
#page-donations-edit form .field .stock-menu .add:hover {
    background-color: var(--primary-mono-e);
}

#page-donations-edit form .field .stock-menu .subtract {
    border-radius: 8px 0 0 8px;
}

#page-donations-edit form .field .stock-menu .add {
    border-radius: 0 8px 8px 0;
}

#page-donations-edit form .field .stock-menu input {
    /* text-align: center; */

    height: 5.6rem;
    width: 15rem;

    border: none;
    border-radius: 0;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);

    font-size: 24px;
}

#page-donations-edit form .container-image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

#page-donations-edit form .image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60%;
    height: 412px;

    margin: 4rem 0;

    border: 1px solid #757575;
    border-radius: 8px;
}

#page-donations-edit form .image img {
    width: 100%;
    height: 100%;

    padding: 0.8rem;

    object-fit: contain;
    flex-shrink: 1;
}

#page-donations-edit form .footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

#page-donations-edit form .footer button,
#page-donations-edit form .footer a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 228px;
    height: 56px;

    border: none;
    border-radius: 8px;

    font-size: 18px;
    text-decoration: none;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

#page-donations-edit form .footer .save {
    background-color: #B7CBFF;
    color: #221160;
}

#page-donations-edit form .footer .save > svg {
    width: 24px;
    height: 23px;
}

#page-donations-edit form .footer .save > span {
    margin-left: 1rem;
}

#page-donations-edit form .footer .cancel {
    margin: 0 2.4rem;
    background-color: #FF8A00;
    color: white;
}

#page-donations-edit form .footer .cancel > svg {
    width: 18px;
    height: 18px;
    fill: white;
}

#page-donations-edit form .footer .cancel > span {
    margin-left: 1.4rem;
}

#page-donations-edit form .footer .delete {
    background-color: #DA0000;
    color: #FFC8C8;
}

#page-donations-edit form .footer .delete > span {
    margin-left: 1.4rem;
}

#page-donations-edit form .footer .save:hover {
    background-color: hsl(222, 75%, 89%);
}

#page-donations-edit form .footer .cancel:hover {
    background-color: hsl(32, 100%, 58%);
}

#page-donations-edit form .footer .delete:hover {
    background-color: hsl(0, 76%, 54%);
}