#page-sign-up {
    min-height: 100vh;

    padding-bottom: 10rem;

    background-color: var(--primary-mono-b);
}

#page-sign-up header {
    display: flex;
    align-items: center;

    width: 80%;

    margin: auto;
    margin-bottom: 13rem;
    padding-top: 10rem;
    /* padding: 10rem 19rem 0 19rem; */
}

#page-sign-up header > img {
    position: absolute;
    /* 50% menos metade do tamanho da imagem (149px) */
    left: calc(50% - 149px);
}


/* Form */
#page-sign-up form {
    width: 60%;
    
    margin: auto;
    border-radius: 8px;

    background-color: #fff;
    box-shadow: 0px 0px 100px 60px rgba(0, 0, 0, 0.25);
}

#page-sign-up form .form-data {
    padding: 6rem 6.4rem 9rem 6.4rem;   
}

#page-sign-up form .header {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 6rem;
}

#page-sign-up form .header h1 {
    font-size: 48px;
    color: var(--title);
}

#page-sign-up form fieldset {
    display: flex;
    flex-direction: column;

    border: none;
}

#page-sign-up form fieldset:not(:last-child) {
    margin-bottom: 6.4rem;
}

#page-sign-up form fieldset legend {
    width: 100%;

    padding-bottom: .8rem;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--border);

    font-size: 24px;
    font-weight: bold;
    
    color: var(--title);
}

#page-sign-up form fieldset .field-group {
    display: flex;
    align-items: center;
}

#page-sign-up form fieldset .field-group .field:first-child {
    margin-right: 3rem;
}

#page-sign-up form fieldset .field,
#page-sign-up form fieldset .field-half {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-top: 24px;
}

#page-sign-up form fieldset .field label,
#page-sign-up form fieldset .field-half label {
    margin-bottom: 8px;

    font-size: 14px;
    
    color: var(--text);   
}

#page-sign-up form fieldset .field input,
#page-sign-up form fieldset .field select, 
#page-sign-up form fieldset .field-half input {
    padding: 1.65rem;

    border: 1px solid var(--border-field);
    border-color: #838383;
    border-radius: 8px;

    font: 1.6rem 'Archivo', 'Inter';
    color: var(--black-text);
}

#page-sign-up form fieldset .field-half input {
    width: calc(50% - 1.5rem);
}


/* Form footer */
#page-sign-up form .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3.7rem 6.4rem;

    border-color: #AFAFAF;
    border-top-width: 1px;
    border-top-style: solid;
    border-radius: 0 0 8px 8px;

    background-color: var(--background);
}

#page-sign-up form .footer .warning {
    display: flex;
    align-items: center;
}

#page-sign-up form .footer .warning span {
    width: 20rem;
 
    margin-left: 2.2rem;

    color: var(--text);
    font-size: 18px;
}

#page-sign-up form .footer button {
    display: flex;
    align-items: center;

    padding: 3.6rem 11.6rem;
    
    border: 1px black solid;
    border-radius: 8px;
    
    background-color: #0EC5DE;
    box-shadow: inset 0px -8px 0px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

#page-sign-up form .footer button:hover {
    margin-top: .8rem;
    padding: 3.2rem 11.6rem;

    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
}

#page-sign-up form .footer button span {
    margin-right: 1.3rem;

    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
