/* Tables */

table:is(.table-registers, .table-donations) thead, 
table:is(.table-registers, .table-donations) tbody  { display: block; }


table:is(.table-registers, .table-donations) {
    width: 100%;
    margin-bottom: 0.8rem;
    border-spacing: 0;
}

table:is(.table-registers, .table-donations) thead {
    width: 100%;
    background-color: var(--primary-4);
}

table:is(.table-registers, .table-donations) thead th {
    padding: 2rem 0;
    
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-align: left;
}

table:is(.table-registers, .table-donations) tbody {
    height: 400px;
    overflow-y: scroll;
}

table:is(.table-registers, .table-donations) tbody::-webkit-scrollbar {
    display: none;
}

table:is(.table-registers, .table-donations) tbody tr {
    min-height: 121px;
}

table:is(.table-registers, .table-donations) tbody tr td {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 0;

    border-bottom: 1px solid #C6C6C6;
    background-color: #FCFCFC;
}

table:is(.table-registers, .table-donations) thead tr,
table:is(.table-registers, .table-donations) tbody tr {
    display: flex;
    width: 100%;
}

/* Table table-Registers */

.table-registers thead th:nth-child(1),
.table-registers tbody td:nth-child(1) {
    width: calc(78px + 3rem + 3.6rem); /* image size + margin-left + margin-right */
}

.table-registers thead th:nth-child(2),
.table-registers tbody td:nth-child(2) {
    flex: 1;
}

.table-registers thead th:nth-child(3),
.table-registers tbody td:nth-child(3) {
    width: clamp(13rem, 15%, 16rem);
    text-align: center;
}

.table-registers thead th:nth-child(4),
.table-registers tbody td:nth-child(4) {
    width: clamp(21rem, 25%, 25rem);
    text-align: center;
}

.table-registers tbody .image img {
    width: 78px;
    height: 78px;
    
    border-radius: 8px;
    border: 1px solid var(--border);

    object-fit: contain;
}

.table-registers tbody .name {
    justify-content: flex-start;

    padding-right: 3.2rem;
    font-size: 22px;
    word-break: break-word;
}

.table-registers tbody .stock {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.table-registers tbody .buttons {
    justify-content: flex-end;
    padding-right: 2.4rem;
}

.table-registers tbody .buttons .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table-registers tbody .buttons .edit {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    padding: 0 1.2rem;

    border-radius: 8px;

    background-color: hsl(137deg, 69%, 54%);
    text-decoration: none;

    transition: background-color 0.2s ease-in-out;
}

.table-registers tbody .buttons .edit:hover {
    background-color: hsl(137deg, 90%, 58%);
}

.table-registers tbody .buttons .edit span {
    margin-left: 1.3rem;
    font-size: 20px;    
    color: white;
}

.table-registers tbody .buttons .delete {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;

    margin-left: 1.6rem;
    padding: 0 1.2rem;
    
    border: none;
    border-radius: 8px;

    background-color: hsl(0, 100%, 43%);

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.table-registers tbody .buttons .delete:hover {
    background-color: hsl(0, 100%, 60%);
}

/* Table table-donations */

.table-donations thead th:nth-child(1),
.table-donations tbody td:nth-child(1) {
    width: calc(78px + 3rem + 3.6rem); /* image size + margin-left + margin-right */
}

.table-donations thead th:nth-child(2),
.table-donations tbody td:nth-child(2) {
    width: 14%;
}

.table-donations thead th:nth-child(3),
.table-donations tbody td:nth-child(3) {
    flex: 1;
}

.table-donations thead th:nth-child(4),
.table-donations tbody td:nth-child(4) {
    width: clamp(10rem, 15%, 15rem);
}

.table-donations thead th:nth-child(5),
.table-donations tbody td:nth-child(5) {
    width: clamp(16rem, 20%, 20rem);
}

.table-donations tbody td {
    padding: 2rem 0;
    border-bottom: 1px solid #C6C6C6;
    background-color: #FCFCFC;
}

.table-donations tbody .image img {
    width: 78px;
    height: 78px;
    
    border-radius: 8px;
    border: 1px solid var(--border);

    object-fit: contain;
}

.table-donations tbody .order-id {
    justify-content: flex-start;

    text-transform: uppercase;
    font-size: 16px;
    color: #686868;
}

.table-donations tbody .name {
    justify-content: flex-start;

    padding-right: 3.2rem;
    font-size: 22px;
    word-break: break-word;
}

.table-donations tbody .status {
    justify-content: flex-start;

    font-size: 22px;
}

.table-donations tbody .status.pending {
    color: var(--pending)
}

.table-donations tbody .status.delivered {
    color: var(--delivered)
}

.table-donations tbody .status.cancelled {
    color: var(--cancelled)
}

.table-donations tbody .see-details {
    justify-content: flex-end;
    padding-right: 2.4rem;
}

.table-donations tbody .see-details a {
    display: flex;
    align-items: center;

    width: fit-content;

    padding: 1.3rem 1.4rem;

    border-radius: 8px;
    background-color: var(--details-button);

    text-decoration: none;
}

.table-donations tbody .see-details a img {
    margin-right: 1.4rem;
    height: 29px;
}

.table-donations tbody .see-details a span {
    font-size: 20px;
    color: white;
}